# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

*.yml

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Project-specific exclusions
workspace.ipynb

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

